<!DOCTYPE html>
<html>
    <head>
        <title>Deployment of ML App</title>
    </head>
    <body>
        {% if output == 0 %}
        <h1>Aeroplane</h1>
        {%elif output == 1%}
        <h1>Automobile</h1>
        {%elif output == 2%}
        <h1>Bird</h1>
        {%elif output == 3%}
        <h1>Cat</h1>
        {%elif output == 4%}
        <h1>Deer</h1>
        {%elif output == 5%}
        <h1>Dog</h1>
        {%elif output == 6%}
        <h1>Frog</h1>
        {%elif output == 7%}
        <h1>Horse</h1>
        {%elif output == 8%}
        <h1>Ship</h1>
        {%elif output == 9%}
        <h1>Truck</h1>
        {% endif %}
    </body>
</html>